.integral{
    width: 100%;
    height: 100;
    background:#eee;
    .integral-header{
        width: 100%;
        height: 135px;
        text-align:center;
        line-height: 155px; 
        color: white;
        font-size: 30px;
        font-family: '微软雅黑';
        background: linear-gradient(-90deg, #FF764E, #FF5250);
    }
    .integral-wrapper{
        width: 100%;
        height: 100%;
        background: #eee;
       
        .wrapper-header{
            height:246px;
            width: 100%;
            position: relative;
            background: linear-gradient(-90deg, #FF764E, #FF5250);

            .wrapper-panel{
                width:690px;
                position: absolute;
                top: 84px;
                left: 30px;
                background: #fff;
                height: 200px;
                border-radius: 8px;
            }
        }
        .wrapper-body{
            padding: 0px 30px;
            background: #eee;
            height: 923px;
            margin-top: 30px;
            overflow: hidden;
            .body-sign{
                height: 240px;
                background: #fff;
                border-radius: 8px;
                margin-top: 30px;
                margin-bottom: 30px;
            }
            .body-task{
                height: 570px;
                background: #fff;
                border-radius: 8px;
            }
        }
    }
}